<section id="contact">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <hr class="star-dark mb-5" />
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                    <div class="control-group">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                              <label>Name</label>
                              <input class="form-control" id="sender" rows="5" placeholder="Sender" required="required" data-validation-required-message="Please enter a message." />
                              <label>Message</label>
                              <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div><br/>
                        <div id="success"></div>
                        <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="button">Send</button></div>
                    </div>
                </form>
            </div>
        </div>
        <div id="here">
            <ul>
              <li class="placeHere"></li>
            </ul>
        </div>
    </div>

</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  loading();
});


    $("#sendMessageButton").on('click', function() {
        if ($('#message').val() !== '' && $('#sender').val() !== '') {
            $.ajax({
                url: '/message',
                type: "POST",
                data: {
                    name: $('#sender').val(),
                    message: $('#message').val(),
                },
                success: function(asd) {
                    console.log('on success');
                    $('#placeHere').html(" ");
                    for (var x in asd) {
                        var name = asd[x].name;
                        var message = asd[x].message;
                        var placeholder = placeholder + '<li>'+name+": "+message+"</li>";
                    }
                    $('.placeHere').html(placeholder);
                }
            })
        } else {
            alert('messaggio vuoto o nome vuoto');
        }

    });


function loading(){
  $.ajax({
      url: '/load',
      type: "POST",
      success: function(asd) {
          console.log('loaded');
          $('#placeHere').html(" ");
          for (var x in asd) {
              var name = asd[x].name;
              var message = asd[x].message;
              var placeholder = placeholder + '<li>'+name+": "+message+"</li>";
          }
          $('.placeHere').html(placeholder);
      }
  })
}

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.5/push.js"></script>
<script>
  (function(){
    var requestButton = document.querySelector(".request-btn");
        var showButton = document.querySelector(".show-btn");

        function onGranted() {
            requestButton.style.background = "green";
        }

        function onDenied() {
            requestButton.style.background = "red";
        }

        requestButton.onclick = function() {
            Push.Permission.request(onGranted, onDenied);
        }

        showButton.onclick = function() {
            Push.create("Hello from Sabe.io!", {
                body: "This is a web notification!",
                icon: "/icon.png",
                timeout: 5000,
                onClick: function() {
                    console.log(this);
                }
            });
        };

  })();
</script>
<script src="https://js.pusher.com/4.3/pusher.min.js"></script>
<script>
  //var channel = pusher.subscribe('my-channel');

  // Enable pusher logging - don't include this in production
  Pusher.logToConsole = true;

  var pusher = new Pusher('faf88ac27bbf9a6165c3', {
    cluster: 'eu',
    forceTLS: true
  });

  var channel = pusher.subscribe('my-channel');
  channel.bind('my-event', function(data) {
    Push.create("Hello from Sabe.io!", {
        body: "This is a web notification!",
        icon: "/icon.png",
        timeout: 5000,
        onClick: function() {
            console.log(this);
        }
    });
  });
</script>
